<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find ngws_gazebo)/models"/>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ngws_gazebo)/worlds/ngws.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="extra_gazebo_args" value="--verbose" />
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <arg name="id" value="0" />
  <arg name="x" value="0" />
  <arg name="y" value="0" />
  <arg name="z" value="0" />
  <arg name="R" value="0" />
  <arg name="P" value="0" />
  <arg name="Y" value="0" />
  <group ns="ngws$(arg id)">
    <param name="robot_description"
     command="$(find xacro)/xacro.py '$(find ngws_description)/urdf/ngws_v0.0.xacro'" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model ngws$(arg id) -robot_namespace ngws$(arg id) -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
  </group>
  <include file="$(find ngws_control)/launch/ngws_control.launch" >
    <arg name="id" value="$(arg id)" />
  </include>


  <arg name="id" value="1" />
  <arg name="x" value="2" />
  <arg name="y" value="0" />
  <arg name="z" value="0" />
  <arg name="R" value="0" />
  <arg name="P" value="0" />
  <arg name="Y" value="0" />
  <group ns="ngws$(arg id)">
    <param name="robot_description"
     command="$(find xacro)/xacro.py '$(find ngws_description)/urdf/ngws_v0.0.xacro'" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model ngws$(arg id) -robot_namespace ngws$(arg id) -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
  </group>
  <include file="$(find ngws_control)/launch/ngws_control.launch" >
    <arg name="id" value="$(arg id)" />
  </include>

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
<!--   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->

  <!-- ros_control rrbot launch file -->


</launch>


